/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 17;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : 1.3em;

/* system typefaces */
$serif                      : Georgia, Times, serif;
$sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

/* type scale - improved for modern design */
$type-size-1                : 2.5em;    // ~42.5px - larger headers
$type-size-2                : 2em;      // ~34px - section headers
$type-size-3                : 1.6em;    // ~27.2px - subsection headers
$type-size-4                : 1.3em;    // ~22.1px - emphasis
$type-size-5                : 1.05em;   // ~17.85px - slightly larger body
$type-size-6                : 0.875em;  // ~14.875px - small text
$type-size-7                : 0.75em;   // ~12.75px - tiny text
$type-size-8                : 0.625em;  // ~10.625px - smallest


/*
   Colors
   ========================================================================== */

/* Modern color palette */
$gray                       : #6B7280;
$dark-gray                  : #374151;
$darker-gray                : #1F2937;
$light-gray                 : #D1D5DB;
$lighter-gray               : #F3F4F6;

$body-color                 : #FFFFFF;
$background-color           : #FFFFFF;
$section-background         : #F9FAFB;
$code-background-color      : #F9FAFB;
$code-background-color-dark : $light-gray;
$text-color                 : $darker-gray;
$border-color               : #E5E7EB;

/* Modern primary colors with gradient support */
$primary-color              : #2563EB;  // Modern blue
$secondary-color            : #7C3AED;  // Purple accent
$success-color              : #10B981;  // Modern green
$warning-color              : #F59E0B;  // Modern amber
$danger-color               : #EF4444;  // Modern red
$info-color                 : #06B6D4;  // Modern cyan

/* brands */
$behance-color              : #1769FF;
$dribbble-color             : #ea4c89;
$facebook-color             : #3b5998;
$flickr-color               : #ff0084;
$foursquare-color           : #0072b1;
$github-color               : #171516;
$google-plus-color          : #dd4b39;
$instagram-color            : #517fa4;
$lastfm-color               : #d51007;
$linkedin-color             : #007bb6;
$pinterest-color            : #cb2027;
$rss-color                  : #fa9b39;
$soundcloud-color           : #ff3300;
$stackoverflow-color        : #fe7a15;
$tumblr-color               : #32506d;
$twitter-color              : #55acee;
$vimeo-color                : #1ab7ea;
$vine-color                 : #00bf8f;
$youtube-color              : #bb0000;
$xing-color                 : #006567;


/* links */
$link-color                 : $primary-color;
$link-color-hover           : #1D4ED8;  // Darker blue on hover
$link-color-visited         : $secondary-color;
$masthead-link-color        : $darker-gray;
$masthead-link-color-hover  : $primary-color;


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);
/*
$small                      : 400px;
$medium                     : 500px;
$medium-wide                : 550px;
$large                      : 1200px;
$x-large                    : 1800px;
*/

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$susy: (
  columns: 12,
  column-width: 120px,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);


/*
   Other
   ========================================================================== */

$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$navicon-width              : 28px;
$navicon-height             : 4px;
$global-transition          : all 0.2s ease-in-out;
